{{> navBar}}
<main>
  {{> pageTitle title="Contact Me"}}
  <section class="d-flex flex-column flex-md-row  align-items-center p-4">
    <div class="px-4 mb-4">
      <img class="img-thumbnail profile-img" src="./images/profile.jpeg" alt="profile image of bob smith">
    </div>
    <div class="flex-grow-1 w-sm-75 mb-4">
      <div class="list-group">
        {{#each links as | link |}}
          {{> linkWithIcon}}
        {{/each}}
      </div>
    </div>
  </section>
</main>