{{> navBar}}
<main>
  {{> pageTitle title="My Projects"}}
  <section class="d-flex flex-row flex-wrap justify-content-around p-4">
    {{#each projects as | project |}}
      {{> projectCard}}
    {{/each}}
  </section>
</main>